<div id="section1">
  <div id="conatiner">
    <div id="header">
      <h1>My Tasks</h1>
      <div id="actions"></div>
    </div>
    <div id="content">
      <mat-card>
        <mat-card-content>
          <div id="cardHeader">
            <div id="categories">
              <button class="category active" mat-button>Work</button>
              <button class="category" mat-button>Personal</button>
            </div>
            <div id="cardActions"></div>
          </div>
        </mat-card-content>
        Simple card
      </mat-card>
    </div>
  </div>
</div>

<div id="section2"></div>
