:host{
    display: block;
    height: 100%;
    width: 100%;
    background-color: #f6f7fd;
    overflow: auto;
}

#section1{
    height: 400px;
}

#section2{
    min-height: 500px;
    background-image: linear-gradient(#81a7f9, #aaf2f9);
}